{% load static %}
<html>
<head>
	<title>Hidayatul Fikri</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	<div class="container">
		<!-- Header -->
		<div class="page-header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Hidayatul Fikri</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/#">Home</a></li>
						<li><a href="/tentang">Tentang</a></li>
						<li><a href="/pengalaman">Pengalaman</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/kontak">Contact me</a></li>
						<li><a href="/tamu">Daftar</a></li>
						<li><a href="{% url 'jadwalBaru' %}">Jadwal Baru</a></li>
						<li><a href="/daftar_jadwal">Daftar Jadwal</a></li>
					</ul>
				</div>
			</nav>
		</div>

		{% block content %}
		{% endblock %}

		<footer>
			<div class="page-footer">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">Hidayatul Fikri</a>
							<ul class="nnnavbar-default">
								<li><a href="/#">Home</a></li>
								<li><a href="/tentang">Tentang</a></li>
								<li><a href="/pengalaman">Pengalaman</a></li>
								<li><a href="/blog">Blog</a></li>
								<li><a href="/kontak">Contact me</a></li>
								<li><a href="/tamu">Daftar</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</footer>
	</div>
</body>
</html>