{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-4">
      <div class="tile">
        <h3 class="tile-title">Entri 1</h3>
        <p>Jadi gini guys</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="tile">
        <h3 class="tile-title">Entri 2</h3>
        <p>Aku tuh</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="tile">
        <h3 class="tile-title">Entri 3</h3>
        <p>Ya gitu</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}