{% extends 'base.html' %}

{% block content %}
    <h1>Daftar Jadwal</h1>
    
    {% for i in dataJadwal %}
        <div>
            <h2>{{i.nama_kegiatan}}</h2>
            <p>{{i.hari}}</p>
            <p>{{i.tanggal}}</p>
            <p>{{i.jam}}</p>
            <p>{{i.tempat}}</p>
            <p>{{i.kategori}}</p>
        </div>
    {% endfor %}
    <form method="POST" class="post-form" action="{% url 'hapusJadwal' %}">{% csrf_token %}
        <input type="submit" class="btn btn-primary float-right" value="Hapus Semua">
    </form>
{% endblock %}