{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">
      <img src="https://profile.line-scdn.net/0hohvUT4EjMEdLLB0PoFVPEHdpPio8AjYPMx99ImZ8byIzGX4QI0h-KT54aH8xGCdBJB4qI2d_Zn9u" class="img-thumbnail" alt="Foto Datul">
    </div>
    <div class="col-xs-8">
      <h3>Hidayatul Fikri</h3> 
      <p>Penerbang angan, penerjang impian!</p> 
      <div class="row">
        <div class="col-xs-4">
          <a href="tentang.html" class="btn btn-block btn-lg btn-default">Tentang</a>
        </div>
        <div class="col-xs-4">
          <a href="pengalaman.html" class="btn btn-block btn-lg btn-default">Pengalaman</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}