{% extends 'base.html' %}

{% block content %}
    <h1>Jadwal Pribadi</h1>
    <form method="POST" class="post-form" action="{% url 'jadwalBaru' %}">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary float-right" value="Tambah">
        </form>
{% endblock %}

