{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
      <h3>Kontak</h3> 
      <p>LINE : hidayatulfikri_</p> 
      <p>Instagram : hidatulfikri</p> 
      <p>Twitter : hidatulfikri</p> 
    </div>
    <div class="col-xs-6">
      <img class="img-responsive" src="https://profile.line-scdn.net/0hohvUT4EjMEdLLB0PoFVPEHdpPio8AjYPMx99ImZ8byIzGX4QI0h-KT54aH8xGCdBJB4qI2d_Zn9u" alt="Foto Datul">
    </div>
  </div>
</div>

{% endblock %}