{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-4">
      <div class="tile">
        <h3 class="tile-title">BEM Fasilkom UI</h3>
        <p>Staf Departemen Kajian dan Aksi Strategis</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="tile">
        <h3 class="tile-title">FUKI Fasilkom UI</h3>
        <p>Staf Departemen Sosial Politik</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="tile">
        <h3 class="tile-title">Perwakilan Kelas SMAN 8 Jakarta</h3>
        <p>Ketua Komisi X</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}