{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="form-group">
    <label for="usr">Nama:</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="pwd">Tanggal:</label>
    <input type="date" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="usr">Username:</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Password confirmation:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>

{% endblock %}