{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
      <h3>Siapa itu Datul?</h3> 
      <p>Datul adalah seorang pembelajar yang akan terus haus akan pengalaman serta ilmu. Datul sangat tertarik dengan hal-hal berbau politik dan sosial, namun memilih Fasilkom  sebagai ilmu yang ditekuni di jalur kuliah. Datul suka indomie dan paling tidak suka kalau tidak memiliki teman yang bisa diajak mengobrol.</p> 
    </div>
    <div class="col-xs-6">
      <img class="img-responsive" src="https://profile.line-scdn.net/0hohvUT4EjMEdLLB0PoFVPEHdpPio8AjYPMx99ImZ8byIzGX4QI0h-KT54aH8xGCdBJB4qI2d_Zn9u" alt="Foto Datul">
    </div>
  </div>
</div>

{% endblock %}